bitrix/*
!bitrix/wizards
!bitrix/templates
/bitrix/wizards/bitrix/
!bitrix/wizards/axi
!bitrix/php_interface
/bitrix/php_interface/dbconn.php
/local/dev/bower_components/
/local/dev/node_modules/
/local/dev/.sass-cache/
/local/dev/package-lock.json
/local/templates/axioma/scripts/*
/local/templates/axioma/styles/*
/local/templates/axioma/styles.css
/local/templates/axioma/template_styles.css
/upload/
/nbproject/
/logans/
/.idea